{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_context %}
<div class="row">
    <div class="col-md-4">        
        <h2>Results 1</h2>
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
    <div class="col-md-4">
        <h2>Results 2</h2>
        <canvas id="myChart1" width="200" height="200"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-4">        
        <h2>Results 3</h2>
        <canvas id="myChart2" width="200" height="200"></canvas>
    </div>
    <div class="col-md-4">
        <h2>Visualize 4</h2>
        <canvas id="myChart3" width="200" height="200"></canvas>
    </div>
</div>

{% endblock %}

{% block app_scripts %}
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: '{{ dashboardtype }}',
        data: {
            labels: [{% for user in users %}
                    '{{ user }}',
                {% endfor %}],
            datasets: [{
                label: '{{ dashboardname }}',
                data: [{% for post in xpostscount %}
                    {{ post }},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });

    
    const ctx_ = document.getElementById('myChart1').getContext('2d');
    const myChart1 = new Chart(ctx_, {
        type: '{{ dashboardtype }}',
        data: {
            labels: [{% for user in users %}
                    '{{ user }}',
                {% endfor %}],
            datasets: [{
                label: '{{ dashboardname }}',
                data: [{% for post in xpostscount %}
                    {{ post }},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });   
    
    const ctx__ = document.getElementById('myChart2').getContext('2d');
    const myChart2 = new Chart(ctx__, {
        type: '{{ dashboardtype }}',
        data: {
            labels: [{% for user in users %}
                    '{{ user }}',
                {% endfor %}],
            datasets: [{
                label: '{{ dashboardname }}',
                data: [{% for post in xpostscount %}
                    {{ post }},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });    
    
    const ctx___ = document.getElementById('myChart3').getContext('2d');
    const myChart3 = new Chart(ctx___, {
        type: '{{ dashboardtype }}',
        data: {
            labels: [{% for user in users %}
                    '{{ user }}',
                {% endfor %}],
            datasets: [{
                label: '{{ dashboardname }}',
                data: [{% for post in xpostscount %}
                    {{ post }},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });      
</script>
{% endblock %}