{% extends 'base.html' %}
<!--{% import 'bootstrap/wtf.html' as wtf %}-->

{% block title %}
{{ super() }}
Title
{% endblock %}

{% block submain %}
{{ super() }}

<div class="container py-5">
    <div class="row">
        <div class="col-8 col-lg-2 mb-3">
            <h5>Guides</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/docs/5.0/getting-started/">Getting started mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</a></li>
              <li class="mb-2"><a href="/docs/5.0/examples/starter-template/">Starter template</a></li>
              <li class="mb-2"><a href="/docs/5.0/getting-started/webpack/">Webpack ==============================================</a></li>
              <li class="mb-2"><a href="/docs/5.0/getting-started/parcel/">Parcel</a></li>
            </ul>
          </div>
    </div>
</div>        

<div class="row">
    <div class="col-md-6">        
        <h3 class="hh3">X Replies </h3>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>   
    <div class="col-md-6">
        <h3 class="hh3">X Reposts</h3>
        <canvas id="myChart1" width="400" height="400"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-6">        
        <h3 class="hh3">X Likes</h3>
        <canvas id="myChart2" width="400" height="400"></canvas>
    </div>   
    <div class="col-md-6">
        <h3 class="hh3">X Views </h3>
        <canvas id="myChart3" width="400" height="400"></canvas>
    </div>
</div>


{% endblock %}

{% block app_scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: '{{ dashboardtype }}',
        data: {
            labels: [{% for user in replies[3] %}
                    '{{ user }}',
                {% endfor %}],
            datasets: [{
                label: 'Replies: {{ period }}',
                data: [{% for val in replies[4] %}
                    {{ val }},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });
  

const ctx_ = document.getElementById('myChart1').getContext('2d');
    const myChart1 = new Chart(ctx_, {
        type: '{{ dashboardtype }}',
        data: {
            labels: [{% for user in reposts[3]%}
                    '{{ user }}',
                {% endfor %}],
            datasets: [{
                label: 'Reposts: {{ period }}',
                data: [{% for val in reposts[4] %}
                    {{ val }},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });   
    
    const ctx__ = document.getElementById('myChart2').getContext('2d');
    const myChart2 = new Chart(ctx__, {
        type: '{{ dashboardtype }}',
        data: {
            labels: [{% for user in likes[3] %}
                    '{{ user }}',
                {% endfor %}],
            datasets: [{
                label: 'Likes: {{ period }}',
                data: [{% for val in likes[4] %}
                    {{ val }},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });    
    
    const ctx___ = document.getElementById('myChart3').getContext('2d');
    const myChart3 = new Chart(ctx___, {
        type: '{{ dashboardtype }}',
        data: {
            labels: [{% for user in views[3] %}
                    '{{ user }}',
                {% endfor %}],
            datasets: [{
                label: 'Views: {{ period  }}',
                data: [{% for val in views[4] %}
                    {{ val }},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });   
</script>
{% endblock %}