{% extends 'base.html' %}
<!--{% import 'bootstrap/wtf.html' as wtf %}-->

{% block breadcrumb %}
{{ super() }}
Twitter - Charts below showing the highest posts, by top users, on {{period}}.
{% endblock%}

{% block main %}
{{ super() }}

<div class="row">
    <div class="col-sm-2"> 
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              View Stats: Select Day
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('chart_xpost_daily', period='0')}}">{{periods[0]}}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('chart_xpost_daily', period='1')}}">{{periods[1]}}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('chart_xpost_daily', period='2')}}">{{periods[2]}}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('chart_xpost_daily', period='3')}}">{{periods[3]}}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('chart_xpost_daily', period='4')}}">{{periods[4]}}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('chart_xpost_daily', period='5')}}">{{periods[5]}}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('chart_xpost_daily', period='6')}}">{{periods[6]}}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('chart_xpost_daily', period='7')}}">{{periods[7]}}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('chart_xpost_daily', period='8')}}">{{periods[8]}}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('chart_xpost_daily', period='9')}}">{{periods[9]}}</a></li>
            </ul>
          </div>  
    </div>

    <div class="col-sm-10 top-posts"> 
        <div class="marquee">
            <p class="marquee-ft">X Top Accounts to Follow: {{users}} </p>
        </div>

    </div>    
</div>

<div class="row">
    <div class="col-sm-12"> 
        
    </div>
</div>
<div class="row">    
    <div class="col-md-4 top-posts div-fixedsize"> 
    <!--    <h4 class="h4-medium">X Soldiers (in numbers) - Numbers don't lie!</h4> -->
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="top-posts">
                        <div class="top-posts">
                            <p>Day Stats for @ChrisExcel102 - [{{period}}]</p> 
                        </div>     
                        <table class="table table-striped-columns">
                            <tr class="table-primary">                                                                 
                                <td class="table-primary">
                                    Replies 
                                </td>
                                <td class="table-primary">
                                    {% for likes in repliescon %}
                                        {% if likes.startswith('@ChrisExcel102') %}
                                            {{likes.replace("@ChrisExcel102","")}}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>    
                            <tr class="table-primary">                                                                 
                                <td class="table-primary">
                                    Reposts 
                                </td>
                                <td class="table-primary">
                                    {% for likes in repostscon %}
                                        {% if likes.startswith('@ChrisExcel102') %}
                                            {{likes.replace("@ChrisExcel102","")}}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>  
                            <tr class="table-primary">                                                                 
                                <td class="table-primary">
                                    Likes 
                                </td>
                                <td class="table-primary">
                                    {% for likes in likescon %}
                                        {% if likes.startswith('@ChrisExcel102') %}
                                            {{likes.replace("@ChrisExcel102","")}}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr> 
                            <tr class="table-primary">                                                                 
                                <td class="table-primary">
                                    Views 
                                </td>
                                <td class="table-primary">
                                    {% for likes in viewscon %}
                                        {% if likes.startswith('@ChrisExcel102') %}
                                            {{likes.replace("@ChrisExcel102","")}}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>     
                        </table>                                           
                    </div>
                    <div style="height: 250px;">  
                        <img src="https://pbs.twimg.com/profile_images/1342678474918649857/S2V3GIVN_400x400.jpg" class="d-block w-100" alt="ChrisExcel102">                    
                    </div>    
                    </div>
                  <div class="carousel-item">
                    <div class="top-posts">
                        <p>Day Stats for @PhilMphela - [{{period}}]</p> 
                    </div>
                    <table class="table table-striped-columns">
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Replies 
                            </td>
                            <td class="table-primary">
                                {% for likes in repliescon %}
                                    {% if likes.startswith('@PhilMphela') %}
                                        {{likes.replace("@PhilMphela","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>    
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Reposts 
                            </td>
                            <td class="table-primary">
                                {% for likes in repostscon %}
                                    {% if likes.startswith('@PhilMphela') %}
                                        {{likes.replace("@PhilMphela","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>  
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Likes 
                            </td>
                            <td class="table-primary">
                                {% for likes in likescon %}
                                    {% if likes.startswith('@PhilMphela') %}
                                        {{likes.replace("@PhilMphela","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr> 
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Views 
                            </td>
                            <td class="table-primary">
                                {% for likes in viewscon %}
                                    {% if likes.startswith('@PhilMphela') %}
                                        {{likes.replace("@PhilMphela","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>     
                    </table> 
                    <div style="height: 250px;">  
                        <img src="https://pbs.twimg.com/profile_images/1617116942736695296/hTyIMcIF_400x400.jpg" class="d-block w-100" alt="PhilMphela">
                    </div>   
                </div>
                  <div class="carousel-item">
                    <div class="top-posts">
                        <p>Day Stats for @Am_Blujay - [{{period}}]</p> 
                    </div>                        
                    <table class="table table-striped-columns">
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Replies 
                            </td>
                            <td class="table-primary">
                                {% for likes in repliescon %}
                                    {% if likes.startswith('@Am_Blujay') %}
                                        {{likes.replace("@Am_Blujay","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>    
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Reposts 
                            </td>
                            <td class="table-primary">
                                {% for likes in repostscon %}
                                    {% if likes.startswith('@Am_Blujay') %}
                                        {{likes.replace("@Am_Blujay","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>  
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Likes 
                            </td>
                            <td class="table-primary">
                                {% for likes in likescon %}
                                    {% if likes.startswith('@Am_Blujay') %}
                                        {{likes.replace("@Am_Blujay","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr> 
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Views 
                            </td>
                            <td class="table-primary">
                                {% for likes in viewscon %}
                                    {% if likes.startswith('@Am_Blujay') %}
                                        {{likes.replace("@Am_Blujay","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>     
                    </table>
                    <div style="height: 250px;">                       
                        <img src="https://pbs.twimg.com/profile_images/1687035543928897536/MvBG5jTs_400x400.jpg" class="d-block w-100" alt="Am_Blujay">
                    </div>
                    </div>
                  <div class="carousel-item">
                    <div class="top-posts">
                        <p>Day Stats for @lavidaNOTA - [{{period}}]</p>
                    </div>    
                    <table class="table table-striped-columns">
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Replies 
                            </td>
                            <td class="table-primary">
                                {% for likes in repliescon %}
                                    {% if likes.startswith('@lavidaNOTA') %}
                                        {{likes.replace("@lavidaNOTA","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>    
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Reposts 
                            </td>
                            <td class="table-primary">
                                {% for likes in repostscon %}
                                    {% if likes.startswith('@lavidaNOTA') %}
                                        {{likes.replace("@lavidaNOTA","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>  
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Likes 
                            </td>
                            <td class="table-primary">
                                {% for likes in likescon %}
                                    {% if likes.startswith('@lavidaNOTA') %}
                                        {{likes.replace("@lavidaNOTA","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr> 
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Views 
                            </td>
                            <td class="table-primary">
                                {% for likes in viewscon %}
                                    {% if likes.startswith('@lavidaNOTA') %}
                                        {{likes.replace("@lavidaNOTA","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>     
                    </table> 
                    <div style="height: 250px;">                      
                        <img src="https://pbs.twimg.com/profile_banners/28643181/1594020116/1500x500" class="d-block w-100" alt="lavidaNOTA">
                    </div>    
                </div>
                  <div class="carousel-item">
                    <div class="top-posts">
                        <p>Day Stats for @destinyzee - [{{period}}]</p>
                    </div>    
                    <table class="table table-striped-columns">
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Replies 
                            </td>
                            <td class="table-primary">
                                {% for likes in repliescon %}
                                    {% if likes.startswith('@destinyzee') %}
                                        {{likes.replace("@destinyzee","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>    
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Reposts 
                            </td>
                            <td class="table-primary">
                                {% for likes in repostscon %}
                                    {% if likes.startswith('@destinyzee') %}
                                        {{likes.replace("@destinyzee","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>  
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Likes 
                            </td>
                            <td class="table-primary">
                                {% for likes in likescon %}
                                    {% if likes.startswith('@destinyzee') %}
                                        {{likes.replace("@destinyzee","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr> 
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Views 
                            </td>
                            <td class="table-primary">
                                {% for likes in viewscon %}
                                    {% if likes.startswith('@destinyzee') %}
                                        {{likes.replace("@destinyzee","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>     
                    </table> 
                    <div style="height: 250px;">  
                        <img src="https://pbs.twimg.com/profile_banners/593806156/1644397878/1500x500" class="d-block w-100" alt="destinyzee">
                    </div>    
                    </div>
                  <div class="carousel-item">
                    <div class="top-posts">
                        <p>Day Stats for @Miz_Ruraltarain - [{{period}}]</p>
                    </div>
                    <table class="table table-striped-columns">
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Replies 
                            </td>
                            <td class="table-primary">
                                {% for likes in repliescon %}
                                    {% if likes.startswith('@Miz_Ruraltarain') %}
                                        {{likes.replace("@Miz_Ruraltarain","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>    
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Reposts 
                            </td>
                            <td class="table-primary">
                                {% for likes in repostscon %}
                                    {% if likes.startswith('@Miz_Ruraltarain') %}
                                        {{likes.replace("@Miz_Ruraltarain","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>  
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Likes 
                            </td>
                            <td class="table-primary">
                                {% for likes in likescon %}
                                    {% if likes.startswith('@Miz_Ruraltarain') %}
                                        {{likes.replace("@Miz_Ruraltarain","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr> 
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Views 
                            </td>
                            <td class="table-primary">
                                {% for likes in viewscon %}
                                    {% if likes.startswith('@Miz_Ruraltarain') %}
                                        {{likes.replace("@Miz_Ruraltarain","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>     
                    </table> 
                    <div style="height: 250px;">                      
                        <img src="https://pbs.twimg.com/profile_images/1743871271161524224/qmH6cGec_400x400.jpg" class="d-block w-100" alt="Miz_Ruraltarain">
                    </div>    
                    </div>
                  <div class="carousel-item">
                    <div class="top-posts">
                        <p>Day Stats for @goolammv - [{{period}}]</p>
                    </div>    
                    <table class="table table-striped-columns">
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Replies 
                            </td>
                            <td class="table-primary">
                                {% for likes in repliescon %}
                                    {% if likes.startswith('@goolammv') %}
                                        {{likes.replace("@goolammv","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>    
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Reposts 
                            </td>
                            <td class="table-primary">
                                {% for likes in repostscon %}
                                    {% if likes.startswith('@goolammv') %}
                                        {{likes.replace("@goolammv","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>  
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Likes 
                            </td>
                            <td class="table-primary">
                                {% for likes in likescon %}
                                    {% if likes.startswith('@goolammv') %}
                                        {{likes.replace("@goolammv","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr> 
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Views 
                            </td>
                            <td class="table-primary">
                                {% for likes in viewscon %}
                                    {% if likes.startswith('@goolammv') %}
                                        {{likes.replace("@goolammv","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>     
                    </table> 
                    <div style="height: 250px;">   
                        <img src="https://pbs.twimg.com/profile_banners/959039318718402563/1641884195/1500x500" class="d-block w-100" alt="goolammv">
                    </div>
                    </div>
                  <div class="carousel-item">
                    <div class="top-posts">
                        <p>Day Stats for @HermaineM - [{{period}}]</p>
                    </div>    
                    <table class="table table-striped-columns">
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Replies 
                            </td>
                            <td class="table-primary">
                                {% for likes in repliescon %}
                                    {% if likes.startswith('@HermaineM') %}
                                        {{likes.replace("@HermaineM","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>    
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Reposts 
                            </td>
                            <td class="table-primary">
                                {% for likes in repostscon %}
                                    {% if likes.startswith('@HermaineM') %}
                                        {{likes.replace("@HermaineM","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>  
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Likes 
                            </td>
                            <td class="table-primary">
                                {% for likes in likescon %}
                                    {% if likes.startswith('@HermaineM') %}
                                        {{likes.replace("@HermaineM","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr> 
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Views 
                            </td>
                            <td class="table-primary">
                                {% for likes in viewscon %}
                                    {% if likes.startswith('@HermaineM') %}
                                        {{likes.replace("@HermaineM","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>     
                    </table> 
                    <div style="height: 250px;">                      
                        <img src="https://pbs.twimg.com/profile_images/1618716402961063948/MSfy_Jx8_400x400.jpg" class="d-block w-100" alt="HermaineM">
                    </div>   
                </div>
                  <div class="carousel-item">
                    <div class="top-posts">
                        <p>Day Stats for @Solphendukaa - [{{period}}]</p>
                    </div>                        
                    <table class="table table-striped-columns">
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Replies 
                            </td>
                            <td class="table-primary">
                                {% for likes in repliescon %}
                                    {% if likes.startswith('@Solphendukaa') %}
                                        {{likes.replace("@Solphendukaa","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>    
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Reposts 
                            </td>
                            <td class="table-primary">
                                {% for likes in repostscon %}
                                    {% if likes.startswith('@Solphendukaa') %}
                                        {{likes.replace("@Solphendukaa","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>  
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Likes 
                            </td>
                            <td class="table-primary">
                                {% for likes in likescon %}
                                    {% if likes.startswith('@Solphendukaa') %}
                                        {{likes.replace("@Solphendukaa","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr> 
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Views 
                            </td>
                            <td class="table-primary">
                                {% for likes in viewscon %}
                                    {% if likes.startswith('@Solphendukaa') %}
                                        {{likes.replace("@Solphendukaa","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>     
                    </table>
                    <div style="height: 250px;">                       
                        <img src="https://pbs.twimg.com/profile_images/1749734153719836672/Pj2FP1BS_400x400.jpg" class="d-block w-100" alt="Solphendukaa">
                    </div>    
                    </div>
                  <div class="carousel-item">
                    <div class="top-posts">
                        <p>Day Stats for @Musa_Khawula - [{{period}}]</p>
                    </div>
                    <table class="table table-striped-columns">
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Replies 
                            </td>
                            <td class="table-primary">
                                {% for likes in repliescon %}
                                    {% if likes.startswith('@Musa_Khawula') %}
                                        {{likes.replace("@Musa_Khawula","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>    
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Reposts 
                            </td>
                            <td class="table-primary">
                                {% for likes in repostscon %}
                                    {% if likes.startswith('@Musa_Khawula') %}
                                        {{likes.replace("@Musa_Khawula","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>  
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Likes 
                            </td>
                            <td class="table-primary">
                                {% for likes in likescon %}
                                    {% if likes.startswith('@Musa_Khawula') %}
                                        {{likes.replace("@Musa_Khawula","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr> 
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Views 
                            </td>
                            <td class="table-primary">
                                {% for likes in viewscon %}
                                    {% if likes.startswith('@Musa_Khawula') %}
                                        {{likes.replace("@Musa_Khawula","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>     
                    </table> 
                    <div style="height: 250px;">                     
                        <img src="https://pbs.twimg.com/profile_images/1721493308134862848/d3zEuzye_400x400.jpg" class="d-block w-100" alt="Musa_Khawula">
                    </div>    
                    </div>
                  <div class="carousel-item">
                    <div class="top-posts">
                        <p>Day Stats for @GodPenuel - [{{period}}]</p>
                    </div>    
                    <table class="table table-striped-columns">
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Replies 
                            </td>
                            <td class="table-primary">
                                {% for likes in repliescon %}
                                    {% if likes.startswith('@GodPenuel') %}
                                        {{likes.replace("@GodPenuel","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>    
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Reposts 
                            </td>
                            <td class="table-primary">
                                {% for likes in repostscon %}
                                    {% if likes.startswith('@GodPenuel') %}
                                        {{likes.replace("@GodPenuel","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>  
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Likes 
                            </td>
                            <td class="table-primary">
                                {% for likes in likescon %}
                                    {% if likes.startswith('@GodPenuel') %}
                                        {{likes.replace("@GodPenuel","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr> 
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Views 
                            </td>
                            <td class="table-primary">
                                {% for likes in viewscon %}
                                    {% if likes.startswith('@GodPenuel') %}
                                        {{likes.replace("@GodPenuel","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>     
                    </table> 
                    <div style="height: 250px;">                      
                        <img src="https://pbs.twimg.com/profile_images/1450786598732304414/ilrsb8ok_400x400.jpg" class="d-block w-100" alt="GodPenuel">
                    </div>
                    </div>
                  <div class="carousel-item">
                    <div class="top-posts">
                        <p>Day Stats for @NalaThokozane - [{{period}}]</p>
                    </div>
                    <table class="table table-striped-columns">
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Replies 
                            </td>
                            <td class="table-primary">
                                {% for likes in repliescon %}
                                    {% if likes.startswith('@NalaThokozane') %}
                                        {{likes.replace("@NalaThokozane","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>    
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Reposts 
                            </td>
                            <td class="table-primary">
                                {% for likes in repostscon %}
                                    {% if likes.startswith('@NalaThokozane') %}
                                        {{likes.replace("@NalaThokozane","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>  
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Likes 
                            </td>
                            <td class="table-primary">
                                {% for likes in likescon %}
                                    {% if likes.startswith('@NalaThokozane') %}
                                        {{likes.replace("@NalaThokozane","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr> 
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Views 
                            </td>
                            <td class="table-primary">
                                {% for likes in viewscon %}
                                    {% if likes.startswith('@NalaThokozane') %}
                                        {{likes.replace("@NalaThokozane","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>     
                    </table> 
                    <div style="height: 250px;">                      
                        <img src="https://pbs.twimg.com/profile_images/1409148922652733443/UuwqYMua_400x400.jpg" class="d-block w-100" alt="NalaThokozane">
                    </div>    
                </div>
                  <div class="carousel-item">
                    <div class="top-posts">
                        <p>Day Stats for @Ori_RSA - [{{period}}]</p>
                    </div>    
                    <table class="table table-striped-columns">
                        <tr class="table-primary">   
                                                                                         
                            <td class="table-primary">
                                Replies 
                            </td>
                            <td class="table-primary">
                                {% for likes in repliescon %}
                                    {% if likes.startswith('@Ori_RSA') %}
                                        {{likes.replace("@Ori_RSA","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>    
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Reposts 
                            </td>
                            <td class="table-primary">
                                {% for likes in repostscon %}
                                    {% if likes.startswith('@Ori_RSA') %}
                                        {{likes.replace("@Ori_RSA","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>  
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Likes 
                            </td>
                            <td class="table-primary">
                                {% for likes in likescon %}
                                    {% if likes.startswith('@Ori_RSA') %}
                                        {{likes.replace("@Ori_RSA","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr> 
                        <tr class="table-primary">                                                                 
                            <td class="table-primary">
                                Views 
                            </td>
                            <td class="table-primary">
                                {% for likes in viewscon %}
                                    {% if likes.startswith('@Ori_RSA') %}
                                        {{likes.replace("@Ori_RSA","")}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>     
                    </table>  
                    <div style="height: 250px;">                   
                    <img src="https://pbs.twimg.com/profile_images/1739027664411734016/39z--fdD_400x400.jpg" class="d-block w-100" alt="Ori_RSA">
                    </div>    
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>        
    </div>

    <div class="col-md-4"> 
        <p  style="font: bold; color: red;">{{period}} Reposts</p>        
        <canvas id="pieChart" width="400" height="500"></canvas>       
    </div>

    <div class="col-md-4">        
        <p  style="font: bold; color: red;">{{period}} Top Posts</p>
        <ol class="list-group list-group-numbered top-posts">
            {% for item in toptenposts %}
            <li class="list-group-item d-flex justify-content-between align-items-start handle-smallonly">
              <div  class="ms-2 me-auto handle-small">
                <div class="handle-small handle-bold">{{item[0]}}</div>
                <a href={{item[2]}} target="_blank" rel="noopener noreferrer">{{item[1]}}</a>
              </div>
              <span class="badge text-bg-primary rounded-pill">{{item[3]}}</span>
            </li>
            {% endfor %}
          </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12"> 
       <hr>       
    </div>
</div>

<div class="row">
    <div class="col-md-6">        
        <div class="div-fixedsize">
            <canvas id="myChart" width="400" height="300"></canvas>
        </div>
    </div>   
    <div class="col-md-6">
        <div class="div-fixedsize">
            <canvas id="myChart1" width="400" height="300"></canvas>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">        
        <div class="div-fixedsize">
            <canvas id="myChart2" width="400" height="300"></canvas>
        </div>
    </div>   
    <div class="col-md-6">
        <div class="div-fixedsize">
            <canvas id="myChart3" width="400" height="300"></canvas>
        </div>
    </div>
</div>

{% endblock %}

{% block app_scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

const ctxpie = document.getElementById('pieChart').getContext('2d');
    const pieChart = new Chart(ctxpie, {
        type: 'pie',
        data: {
            labels: [{% for user in reposts[3] %}
                    '{{ user }}',
                {% endfor %}],
            datasets: [{
                label: 'Reposts: {{ period }}',
                data: [{% for val in reposts[4] %}
                    {{ val }},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });

const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: '{{ dashboardtype }}',
        data: {
            labels: [{% for user in replies[3] %}
                    '{{ user }}',
                {% endfor %}],
            datasets: [{
                label: 'Replies: {{ period }}',
                data: [{% for val in replies[4] %}
                    {{ val }},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });
  

const ctx_ = document.getElementById('myChart1').getContext('2d');
    const myChart1 = new Chart(ctx_, {
        type: '{{ dashboardtype }}',
        data: {
            labels: [{% for user in reposts[3]%}
                    '{{ user }}',
                {% endfor %}],
            datasets: [{
                label: 'Reposts: {{ period }}',
                data: [{% for val in reposts[4] %}
                    {{ val }},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });   
    
    const ctx__ = document.getElementById('myChart2').getContext('2d');
    const myChart2 = new Chart(ctx__, {
        type: '{{ dashboardtype }}',
        data: {
            labels: [{% for user in likes[3] %}
                    '{{ user }}',
                {% endfor %}],
            datasets: [{
                label: 'Likes: {{ period }}',
                data: [{% for val in likes[4] %}
                    {{ val }},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });    
    
    const ctx___ = document.getElementById('myChart3').getContext('2d');
    const myChart3 = new Chart(ctx___, {
        type: '{{ dashboardtype }}',
        data: {
            labels: [{% for user in views[3] %}
                    '{{ user }}',
                {% endfor %}],
            datasets: [{
                label: 'Views: {{ period  }}',
                data: [{% for val in views[4] %}
                    {{ val }},
                {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });   
</script>
{% endblock %}